<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <title>Sedgewik 的飯否</title>
    <style>
      body {
        padding: 10px;
        font-size: 14px;
      }

      h1 {
        font-size: 16px;
      }

      h2 {
        font-size: 20px;
        text-decoration: underline;
      }

      h3 {
        font-size: 20px;
      }

      section > header {
        margin-bottom: 10px;
      }

      section > header > h2 {
        font-size: 20px;
      }

      ul {
        list-style-position: inside;
        margin: 10px 0;
	    background-color: #fafafa;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    padding: 10px;
      }
	  
      li {
        list-style-position: inside;
        margin: 8px 0;
      }
	  
	  li a {
	    color: #999;
        font-size: smaller;
	  }

      section p {
        margin: 15px 0 30px 0;
      }

      ul:hover {
        background-color: #fbf9e6;
      }
	  
	  .created-time-cell {
		vertical-align: top;
		min-width: 140px;
		padding-top: 3px;
		padding-right: 10px;
	  }
	  
	  .content-cell {
	  	vertical-align: top;
	  }
	  
	  .content-cell div {
	  	font-size: 10px;
		color: #999;
		margin: 2px 0px 2px 0px;
	  }
	  
	  .no {
		float: right; 
	  	text-align: right;
		font-size: 9px;
	    line-height: 9px;
	    font-weight: 500;
	    border-radius: 10px;
	    display: inline-block;
	    background-color: #f0f0f0;
	    color: #ccc;
		margin: 10px 10px;
	    padding: 2px 5px 2px 5px;
	    cursor: pointer;
	  }
    </style>
  </head>
  <body>
    <header>
      <h1><a href="/">飯糰🍙</a> / Sedgewick 的飯否</h1>
    </header>
    <section>
	  <div style="margin: 60px auto 10px auto;"></div>

<%
index = @conversations.size

@conversations.each do |items|
  owners = items.reduce([]) { |memo, k| memo << @statuses_pool[k]["owner"] }
  next if owners.uniq == ["小蔫蔫"]
%>
  <span class="no"><%= index %><% index -= 1 %></span>
  <ul>
	  
  <%
  items.each do |k| %>
	<li>
		<table>
			<tbody>
				<tr>
					<td class="created-time-cell">
			  	      	<a target="_blank" href="http://fanfou.com/statuses/<%= k %>?fr=viewreply">
							<%= @statuses_pool[k]["created_at"] %>
			  		  	</a>
					</td>
					<td class="content-cell">
						<%
						if @statuses_pool[k]["owner"] == '小蔫蔫'
						%>
							<div>
								(by <%= @statuses_pool[k]["owner"] %>)
							</div>
						<%
						end
						%>
			  		    <%= @statuses_pool[k]["text"].gsub(/^\s*@Sedgewick\s+\|\s+/, '').gsub(/\n/, "<br />") %>
			  		  	<br />
			  		  	<% unless @statuses_pool[k]["photo_url_large"].nil? %>
							<a href="<%= @statuses_pool[k]["photo_url_large"] %>">
			  		      	  <img src="<%= @statuses_pool[k]["photo_url_thumb"] %>">
			  		    	</a>
			  		  	<% end %>
					</td>
				</tr>
			</tbody>
		</table>
    </li>
	
  <% end %>
  
  </ul>
  
<% end %>
		
      
    </section>
    <footer>
      <a href="mailto:yx.pu@live.com">yx.pu@live.com</a>
      <p>&copy; 抄襲自 Alexis Sellier</p>
    </footer>
  </body>
</html>

